.page-newdiscussion{
    width: 100%;
    height: 100%;
}

.page-newdiscussion-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    

    width: 85%;
    height: 100%;

    padding: 20px;
}

.page-newdiscussion-form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
}

.form-newdiscussion-custom{
    display: flex;
    align-content: baseline;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
}

.form-newdiscussion-input{
    width: 500px;
    height: 50px;

    padding: 20px;

    border: 1px solid #14A33A;
    border-radius: 60px;

    font-size: 30px;
}

.form-newdiscussion-custom .form-newdiscussion-input {
    border-radius: 0 60px 60px 0;
}
.form-newdiscussion-custom .form-newdiscussion-input:focus {
    outline: none;
}

.form-newdiscussion-custom .form-newdiscussion-button{
    height: 50px;
    width: max-content;
    padding: 0 20px;

    background-color: white;

    border: 1px solid #14A33A;
    border-right: none;
    border-radius: 60px 0 0 60px;

    font-size: 30px;

    cursor: pointer;
}

.form-newdiscussion-research{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form-newdiscussion-research-list{
    position: fixed;
    margin-top: 50px;

    width: 500px;
    height: fit-content;
    max-height: 500px;

    border-radius: 30px;
    border: 1px solid #14A33A;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;

    overflow-y: auto;
    scrollbar-width: none;
}

.form-newdiscussion-research-item{
    width: 100%;
    height: 50px;

    padding: 30px;

    border-bottom: 1px solid #14A33A;

    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: baseline;

    cursor: pointer;
}

.form-newdiscussion-research-item button{
    background-color: #00000000;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    padding: 10px 30px;
    border: none;
    width: 100%;
}

.form-newdiscussion-research-item:hover{
    background-color: #14A33A;
    color: white;
}

.form-newdiscussion-selected-list{
    position: fixed;

    width: max-content;
    height: fit-content;
    max-height: 500px;

    border-radius: 30px;
    border: 1px solid #14A33A;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;

    overflow-y: auto;
    scrollbar-width: none;
}

.form-newdiscussion-selected-item{
    width: 100%;
    height: 50px;

    padding: 30px;

    border-bottom: 1px solid #14A33A;

    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: baseline;

    cursor: pointer;
}

.form-newdiscussion-selected-item button{
    background-color: #00000000;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100%;
}

.form-newdiscussion-selected-item:hover{
    background-color: #14A33A;
    color: white;
} 

.page-newdiscussion textarea{
    width: 100%;
    height: 90%;

    padding: 20px;

    border: 1px solid #14A33A;
    border-radius: 30px;

    font-size: 30px;

    resize: none;
}

.page-newdiscussion-button{
    width: 100%;
    
    display: flex;
    justify-content: end;
    gap  : 100px
}

.form-newdiscussion-button-all{
    height: 50px;
    width: 50px;


    background-color: white;

    border: 1px solid #14A33A;
    border-radius: 100%;

    font-size: 30px;

    cursor: pointer;

}

.page-newdiscussion-button button{
    width: 200px;
    height: 50px;

    padding: 0 20px;

    background-color: white;

    border: 1px solid #14A33A;
    border-radius: 60px;

    font-size: 30px;

    cursor: pointer;
}