
.create-discussion-page{
    background-image: url('../images/bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-content: baseline;

}

.create-discussion-page .nav-create-discussion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: #14A33A;

    width: 310px;
    height: 100vh;

    padding-bottom: 60px;

    float: left;
}

.create-discussion-page .nav-create-discussion .a-create-discussion{
    text-decoration: none;
    color: #FFFFFF;
}

.create-discussion-page .nav-create-discussion .button-create-discussion{
    width: 230px;
    height: 65px;

    border:none;
    border-radius: 60px;

    background-color: #3E3573;
    color:#FFFFFF;

    font-size: 20px;
}

.create-discussion-page .nav-create-discussion .button-create-discussion:hover{
    background-color: #2e2858;
    color:#FFFFFF;
    cursor: pointer;
}

.create-discussion-page .create-discussion-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    width: 100%;

    padding: 30px;
}


.create-discussion-page .create-discussion-content .button-create-discussion{
    width: 230px;
    height: 65px;

    border:none;
    border-radius: 60px;

    background-color: #3E3573;
    color:#FFFFFF;

    font-size: 20px;
}

.create-discussion-page .create-discussion-content .button-create-discussion:hover{
    background-color: #2e2858;
    color:#FFFFFF;
    cursor: pointer;
}

.create-discussion-page .create-discussion-content .input-title-create-discussion{
    width: 500px;
    height: 60px;

    margin-bottom: 20px;

    border: none;
    border-radius: 10px;

    padding: 15px;

    font-size: 30px;

    background-color: #14A33A;
    color: #FFFFFF;
}

.create-discussion-page .create-discussion-content ::placeholder{
    color: #FFFFFF;
}

.create-discussion-page .create-discussion-content .input-message-create-discussion{
    margin-top: 20px;

    resize: none;

    width: 100%;
    height: 500px;

    border: none;
    border-radius: 10px;

    padding: 15px;

    font-family: 'inter', sans-serif;
    font-size: 20px;

    background-color: #14A33A80;
    color: #000000;
}

.create-discussion-page .create-discussion-content .selection-create-discussion{
    width: auto;
    height: 50px;

    margin-top: 20px;

    border: none;
    border-radius: 10px;

    padding: 15px;

    font-size: 20px;

    background-color: #3E3573;
    color: #ffffff;
}

.create-discussion-page .create-discussion-content .selection-create-discussion option{
    background-color: #ffffff;
    color: #000000;
}

.create-discussion-page .create-discussion-content .selection-create-discussion option:focus{
    box-shadow: 0 0 10px 100px #000000 inset;
}

.create-discussion-page .create-discussion-content  option:first-child{
    display: none;
}

